@import 'color';

.flow {
  padding-top: 120px;

  .sec-title::before,
  .sec-title::after {
    background-color: $font-color;
  }

  .text {
    margin-bottom: 60px;
  }

  .flex {
    display: flex;
    justify-content: space-between;

    .figure {
      // width: 200px;
      position: relative;

      &::before {
        content: "";
        width: 50px;
        height: 600px;
        background-color: #ffdd00;
        position: absolute;
        top: 0;
        left: 75px;
      }

      .rect {
        // left: 0;
        // right: 0;

        width: 200px;
        height: 80px;
        line-height: 80px;
        background-color: #414141;
        color: #fff;
        font-size: 0.875rem;
        margin-bottom: 60px;
        position: relative;
        text-align: center;

        &::before {
          // border-bottom: none;

          content: "";
          border-top: 30px solid #414141;
          border-left: 100px solid transparent;
          border-right: 100px solid transparent;
          position: absolute; // 抜けていた
          top: 80px;
          right: 0;
          left: 0;
          margin: 0 auto;
        }

        

        // &:nth-of-type(2) {
        //   top: 0;
        // }
        // &:nth-of-type(3) {
        //   top: 60px;
        // }
        // &:nth-of-type(4) {
        //   top: 120px;
        // }
        // &:nth-of-type(5) {
        //   top: 180px;
        // }
        // &:nth-of-type(6) {
        //   top: 240px;
        // }
      }

      

      
    }

    .letter {
      max-width: calc(100% - 280px);
      counter-reset: number;

      li {
        position: relative;

        &::before {
          content: counter(number);
          counter-increment: number;
          padding: 0.2em 0.8em 0;
          color: #fff;
          position: absolute;
          top: 0;
          left: -50px;
          z-index: 1;
        }

        &::after {
          content: '';
          position: absolute;
          display: block;
          top: 0;
          left: -50px;
          width: 2.1em;
          height: 2.1em;
          border-radius: 50%;
          background-color: #414141;
        }
  
        &:not(:last-child) {
          margin-bottom: 44px;
        }
        
        h3 {
          font-size: 1.25rem;
          font-weight: normal;
          padding-bottom: 8px;
          margin-bottom: 10px;
          border-bottom: $font-color 1px solid;
  
        }
      }
    }
  }

}



@media (max-width: 960px) {
  .flow {
    padding-top: 60px;

    .flex {
      flex-direction: column;

      .figure {
        // width: 100%;
        margin-bottom: 80px;

        &::before {
          // left: 50%;
          // transform: translateX(-50%);
          left: 0;
          right: 0;
          margin: 0 auto;
        }

        .rect {
          // width: 80%;
          // left: 50%;
          // transform: translateX(-50%);
          width: calc(100vw - 80px);
          margin-left: auto;
          margin-right: auto;

          &::before {
            border-left: calc(50vw - 40px) solid transparent;
            border-right: calc(50vw - 40px) solid transparent;
            // left: 50%;
            // transform: translateX(-50%);
          }
        }

        
      }

      .letter {
        max-width: 100%;
        // padding-top: 320px;
        padding-left: 50px;
      }
    }
  }
}