@import 'color';

header {
  width: 300px;
  padding: 40px 45px;
  position: fixed;
  top: 0;
  left: 0;

  .site-title {
    line-height: 0;

    a {
      display: inline-block;

      img {
        width: 200px;
      }
    }

  }

  .humberger-menu {
    display: none;
    width: 30px;
    height: 30px;
    margin-top: 22px;
    margin-right: 18px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 70;
    cursor: pointer;
    transition: 0.4s;

    span {
      width: 30px;
      height: 2px;
      background-color: $font-color;
      position: absolute;
      left: 0;
      transition: 0.4s ease-in-out;

      &:nth-child(1) {
        top: 4px;
      }
      &:nth-child(2) {
        top: 14px;
      }
      &:nth-child(3) {
        top: 24px;
      }
    }

    &.active span {
      top: 14px;
      left: 0;
      background: #fff;

      &:nth-child(1) {
        transform: rotate(-405deg);
      }

      &:nth-child(2) {
        display: none;
      }

      &:nth-child(3) {
        transform: rotate(405deg);
      }
    }
  }

  .shadow {
    width: 100%;
    height: 100vh;
    background-color: #000;
    opacity: 0.7;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 60;
    display: none;

    &.active {
      display: block;
    }
  }

  #humberger-navigation {
    width: 300px;
    height: 100vh;
    background-color: #fff;
    color: $font-color;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 70;
    opacity: 0;
    transform: translateX(-300px);
    transition: 0.8s;
    visibility: hidden;
    padding: 20px 0 0 20px;
  }
  
  #humberger-navigation.active {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }

  ul {
    li {
      margin-top: 16px;
      font-size: 0.875rem;
    }
  }

  .sns-link {
    padding-top: 60px;
  }
}



@media (max-width: 960px) {
  header {
    height: 72px;
    width: 100%;
    padding: 0;
    padding-left: 18px;
    background-color: #fff;
    z-index: 50;

    .site-title {
      a {
        margin-top: 10px;

        img {
          width: 180px;
        }
      }
    }

    .navi {
      display: none;
    }

    .humberger-menu {
      display: block;
    }
  }
}