@import 'color';

html {
  font-size: 100%;
}

body {
  color: $font-color;
  // display: flex;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

.container {
  // background-color: pink;
  // height: 3000px;
  margin-left: 300px;
  margin-right: auto;
  

  .content {
    padding: 0 20px;
    max-width: 900px;
    margin: 0 auto;
    // background-color: orange;
  }
}